html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img {
  width: 100%;
}

.container {
  max-width: 1152px;
  width: 100%;
  margin: 0px auto;
}

.row {
  margin: -6px -10px;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.3333333333%;
  padding: 0px 10px;
}

.col-2 {
  width: 16.6666666667%;
  padding: 0px 10px;
}

.col-3 {
  width: 25%;
  padding: 0px 10px;
}

.col-4 {
  width: 33.3333333333%;
  padding: 0px 10px;
}

.col-5 {
  width: 41.6666666667%;
  padding: 0px 10px;
}

.col-6 {
  width: 50%;
  padding: 0px 10px;
}

.col-7 {
  width: 58.3333333333%;
  padding: 0px 10px;
}

.col-8 {
  width: 66.6666666667%;
  padding: 0px 10px;
}

.col-9 {
  width: 75%;
  padding: 0px 10px;
}

.col-10 {
  width: 83.3333333333%;
  padding: 0px 10px;
}

.col-11 {
  width: 91.6666666667%;
  padding: 0px 10px;
}

.col-12 {
  width: 100%;
  padding: 0px 10px;
}

@media (max-width: 576px) {
  .container-sm {
    width: 100%;
    max-width: 327px;
    margin: 0px auto;
  }
}
.page-header {
  width: 100%;
  position: fixed;
  top: 48px;
  z-index: 99;
}
.page-header .nav-list {
  display: flex;
  justify-content: space-between;
}
.page-header .options-list {
  display: flex;
  justify-content: space-between;
}
.page-header .menu-item {
  display: none;
}

@media (max-width: 576px) {
  .page-header {
    height: 72px;
    display: flex;
    align-items: center;
    top: 0;
    background-color: white;
  }
  .page-header .header-logo {
    content: url(../exercise-e-shop/assets/logo/logo-respon.png);
  }
  .page-header .search-item {
    display: none;
  }
  .page-header .menu-item {
    display: block;
  }
  .page-header .img-cart {
    content: url(../exercise-e-shop/assets/logo/cart-respon.png);
  }
  .page-header .img-avatar {
    content: url(../exercise-e-shop/assets/logo/avatar-respon.png);
  }

  .header-center {
    display: none;
  }
}
.page-footer {
  background-color: #FBB03B;
}
.page-footer .top-footer {
  padding-top: 40px;
  padding-bottom: 50px;
  border-bottom: 1px solid #FFFFFF;
}
.page-footer .top-footer .flex-spc-bw {
  align-items: flex-start;
}
.page-footer .info-shop {
  max-width: 373px;
  margin-right: 170px;
}
.page-footer .infor-footer {
  padding: 24px 0px 57px;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.page-footer .app-contact {
  display: flex;
}
.page-footer .app-contact i {
  color: #FFFFFF;
  margin-right: 33px;
}
.page-footer .list-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.page-footer .list-info p {
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.page-footer .bottom-footer {
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.page-footer .bottom-footer p {
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .page-footer .top-footer {
    padding-top: 24px;
    padding-bottom: 48px;
  }
  .page-footer .top-footer .flex-spc-bw {
    flex-direction: column;
  }
  .page-footer .info-shop {
    width: 100%;
    margin-right: 0;
  }
  .page-footer .infor-footer {
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
  }
  .page-footer .app-contact {
    display: none;
  }
  .page-footer .list-info {
    margin: -12px 0px;
    flex-direction: column;
  }
  .page-footer .item-info {
    padding: 12px 0px;
  }
}
.flex-spc-bw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  border: none;
  outline: none;
  color: #333333;
  cursor: pointer;
}
.btn.btn-primary {
  background-color: #FFFFFF;
  font-size: 13px;
  line-height: 19px;
  color: #333333;
  font-weight: bold;
  padding: 14px 20px;
  border-radius: 33px;
}
.btn.btn-people {
  margin: auto 45px;
  font-size: 18px;
  line-height: 27px;
  color: #FBB03B;
  font-weight: bold;
}
.btn.btn-users {
  margin-left: 24px;
  background-color: rgba(0, 0, 0, 0);
}
.btn.btn-shopnow {
  width: 195px;
  display: flex;
  align-items: center;
}
.btn.btn-shopnow .txt-shopnow {
  padding-left: 21px;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  font-weight: bold;
}
.btn.btn-subscribe {
  padding: 14px 30px;
  font-size: 13px;
  line-height: 19px;
  color: #333333;
  font-weight: bold;
  background-color: #FBB03B;
  border-radius: 56px;
}

@media (max-width: 576px) {
  .btn.btn-primary {
    padding: 3px 10px;
    font-size: 12px;
  }
  .btn.btn-subscribe {
    display: inline-block;
    padding: 7px 20px;
    font-size: 13px;
  }
}
.sale-off {
  padding: 6px 10px;
  background-color: #FF0000;
  border-radius: 20px;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  font-weight: bold;
}

@media (max-width: 576px) {
  .sale-off {
    padding: 2px 9px;
    font-size: 8px;
    line-height: 12px;
    border-radius: 9px;
  }
}
h2 {
  font-size: 72px;
  line-height: 101.5%;
  color: #FFFFFF;
  font-weight: bold;
}

h3 {
  font-size: 32px;
  line-height: 48px;
  color: #333333;
  font-weight: 300;
}

h5 {
  margin-bottom: 19px;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  font-weight: bold;
}

@media (max-width: 576px) {
  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 18px;
    line-height: 27px;
  }

  h5 {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: bold;
  }
}
.banner {
  position: relative;
  line-height: 0;
}
.banner .img-banner {
  position: relative;
  width: 100%;
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.banner .banner-sale {
  width: 403px;
  position: absolute;
  top: 222px;
  left: 17%;
  z-index: 50;
}
.banner .banner-sale h2 {
  padding-bottom: 24px;
}
.banner .banner-sale h2 span {
  color: #FBB03B;
}
.banner .banner-sale .banner-action {
  padding: 0px;
}
.banner .banner-sale .txt-shopnow {
  padding-left: 21px;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  font-weight: bold;
}
.banner .banner-event {
  width: 77%;
  height: 124px;
  padding: 37px 17% 24px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: white;
  border-radius: 0px 100px 0px 0px;
  z-index: 50;
}
.banner .banner-event .list-banner-event {
  max-width: 100%;
  height: 100%;
}

.event {
  padding-right: 48px;
  display: flex;
  justify-content: space-between;
}
.event .info-event {
  padding-left: 21px;
}
.event .name-event {
  width: 184px;
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: bold;
}
.event .endow {
  font-size: 12px;
  line-height: 18px;
  color: #A8A8A8;
}

.show-category .list-category {
  padding: 42px 0px 90px;
}
.show-category .item-category {
  position: relative;
}
.show-category .category {
  line-height: 0;
  position: relative;
}
.show-category .category::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #333333;
  opacity: 0.5;
}
.show-category .name-category {
  position: absolute;
  bottom: 119px;
  left: 40px;
  right: 40px;
  height: 73px;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  z-index: 50;
}
.show-category .sale-off {
  position: absolute;
  bottom: 200px;
  left: 40px;
  z-index: 50;
}
.show-category .btn-category {
  position: absolute;
  left: 40px;
  bottom: 53px;
  z-index: 50;
}

.offer-clothing {
  padding-bottom: 54px;
  align-items: baseline;
}
.offer-clothing .container {
  position: relative;
}
.offer-clothing .offer-title {
  padding-bottom: 33px;
}
.offer-clothing .btn-primary {
  position: absolute;
  top: 0px;
  right: 0;
  border: 1px solid #C4C4C4;
}

.product-today {
  padding-top: 48px;
  padding-bottom: 54px;
}
.product-today .title-today {
  padding-bottom: 33px;
  text-align: center;
}

.product {
  position: relative;
}
.product .img-product {
  width: 100%;
}
.product .sale-off {
  position: absolute;
  top: 24px;
  left: 18px;
}
.product .name-product {
  padding-top: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  font-weight: 300;
}
.product .cart-product-discount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product .cart-product-discount .price-product {
  color: #CECECE;
}
.product .price-product {
  font-size: 20px;
  line-height: 30px;
  color: #333333;
}
.product .price-discount {
  font-size: 20px;
  line-height: 30px;
  color: #FF0000;
}

.advertisement {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #F7F7F7;
}
.advertisement .title-adver {
  text-align: center;
  padding-bottom: 44px;
}

.adver .img-adver {
  width: 68px;
  height: 68px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adver .name-adver {
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  font-weight: bold;
}
.adver .detail-adver {
  font-size: 14px;
  line-height: 21px;
  color: #808080;
}

.main-subscribe {
  width: 100%;
  position: relative;
  line-height: 0;
}
.main-subscribe img {
  width: 100%;
}
.main-subscribe .subscribe {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
}
.main-subscribe .txt-subscribe {
  width: 50%;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}
.main-subscribe .form-subscribe {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.main-subscribe .form-subscribe .input-subscribe {
  width: 351px;
  height: 48px;
  margin-right: 40px;
  padding: 14px 24px;
  font-size: 13px;
  line-height: 19px;
  color: #ABABAB;
  border: none;
  border-radius: 61px;
  outline: none;
}
.main-subscribe::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, #000000 33.28%, rgba(0, 0, 0, 0) 94.05%);
  opacity: 0.7;
}

@media (max-width: 576px) and (max-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 6px 5px;
  }

  .col-sm-2 {
    width: 16.6666666667%;
    padding: 6px 5px;
  }

  .col-sm-3 {
    width: 25%;
    padding: 6px 5px;
  }

  .col-sm-4 {
    width: 33.3333333333%;
    padding: 6px 5px;
  }

  .col-sm-5 {
    width: 41.6666666667%;
    padding: 6px 5px;
  }

  .col-sm-6 {
    width: 50%;
    padding: 6px 5px;
  }

  .col-sm-7 {
    width: 58.3333333333%;
    padding: 6px 5px;
  }

  .col-sm-8 {
    width: 66.6666666667%;
    padding: 6px 5px;
  }

  .col-sm-9 {
    width: 75%;
    padding: 6px 5px;
  }

  .col-sm-10 {
    width: 83.3333333333%;
    padding: 6px 5px;
  }

  .col-sm-11 {
    width: 91.6666666667%;
    padding: 6px 5px;
  }

  .col-sm-12 {
    width: 100%;
    padding: 6px 5px;
  }
}
@media (max-width: 576px) {
  .row {
    margin: 0px -5px;
  }
}
@media (max-width: 576px) {
  .banner .img-banner {
    content: url(../exercise-e-shop/assets/product/banner-respon.png);
  }
  .banner .banner-sale {
    width: 271px;
    left: 24px;
  }
  .banner .banner-sale img {
    width: 32px;
    height: 32px;
  }
  .banner .banner-sale .txt-shopnow {
    padding-left: 16px;
    font-size: 14px;
    line-height: 21px;
  }
  .banner .banner-event {
    display: none;
  }
}
@media (max-width: 576px) {
  .main-subscribe .subscribe {
    flex-direction: column;
    align-items: baseline;
  }
  .main-subscribe .txt-subscribe {
    width: 200px;
    padding-bottom: 24px;
    font-size: 14px;
    line-height: 21px;
  }
  .main-subscribe .form-subscribe {
    width: 100%;
    display: block;
  }
  .main-subscribe .form-subscribe .input-subscribe {
    width: 100%;
    height: 32px;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 18px;
  }
  .main-subscribe .img-subscribe {
    content: url(../exercise-e-shop/assets/product/subscribe-respon.png);
  }
}
@media (max-width: 576px) {
  .product .img-product {
    height: 227px;
  }
  .product .sale-off {
    top: 14px;
    left: 9px;
  }
  .product .name-product {
    padding: 3px 0px;
    font-size: 12px;
    line-height: 18px;
  }
  .product .price-product {
    font-size: 10px;
    line-height: 15px;
    color: #333333;
  }
  .product .price-discount {
    font-size: 10px;
    line-height: 15px;
    color: #FF0000;
  }
}
@media (max-width: 576px) {
  .offer-clothing {
    padding-bottom: 46px;
  }
  .offer-clothing .offer-title {
    padding-bottom: 10px;
  }
  .offer-clothing .btn-primary {
    border: none;
  }
}
@media (max-width: 576px) {
  .product-today {
    padding-top: 42px;
    padding-bottom: 46px;
  }
  .product-today .title-today {
    padding-bottom: 10px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .show-category .list-category {
    padding: 42px 0px 90px;
  }
  .show-category .name-category {
    height: 40px;
    font-size: 14px;
    line-height: 21px;
    bottom: 44px;
    left: 16px;
  }
  .show-category .sale-off {
    bottom: 90px;
    left: 16px;
  }
  .show-category .btn-category {
    bottom: 16px;
    left: 16px;
  }
}
@media (max-width: 576px) {
  .advertisement {
    padding-top: 38px;
    padding-bottom: 22px;
  }
  .advertisement .title-adver {
    padding-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .adver {
    display: flex;
  }
  .adver .info-adver {
    flex: 1;
    padding-left: 16px;
  }
  .adver .name-adver {
    padding-bottom: 8px;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    font-weight: bold;
  }
  .adver .detail-adver {
    font-size: 10px;
    line-height: 15px;
    color: #808080;
  }
}

/*# sourceMappingURL=style.css.map */
