.form-detail {
  padding: 10px;
  .title-detail {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
  }
  .article-show-detail {
    margin: 20px auto;
    flex-direction: column;
    .img-article {
      width: 100%;
      margin-bottom: 20px;
    }
    .detail-article {
      padding: 0;
    }
  }
}
@include tablet {
  .form-detail {
    padding: 10px;
  }
}
@include mobile {
  .form-detail {
    padding: 10px;
  }
}
