.page-footer {
  background-color: map-get($color, org);
  .top-footer {
    padding-top: 45px;
    padding-bottom: 51px;
    border-bottom: 1px solid map-get($color, wt);
    .flex-spc-bw {
      align-items: flex-start;
    }
  }
  .info-shop {
    max-width: 373px;
    margin-right: 170px;
  }
  .logo-footer {
    margin-bottom: 24px;
  }
  .infor-footer {
    margin-bottom: 57px;
    @include font-text(map-get($font-size, m), 21px, map-get($color, wt));
  }
  .app-contact {
    display: flex;
    i {
      color: map-get($color, wt);
      margin-right: 33px;
    }
  }
  .bottom-footer {
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    p {
      @include font-text(map-get($font-size, s), 18px, map-get($color, wt));
    }
  }
  .list-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    p {
      @include font-text(map-get($font-size, m), 150%, map-get($color, wt));
    }
  }
  .title-footer {
    margin-bottom: 19px;
    @include font-text(map-get($font-size, l), 24px, map-get($color, wt), $font-weight-bold);
  }
}