.page-footer {
  background-color: map-get($color, org);
  .top-footer {
    padding-top: 40px;
    padding-bottom: 50px;
    border-bottom: 1px solid map-get($color, wt);
    .flex-spc-bw {
      align-items: flex-start;
    }
  }
  .info-shop {
    max-width: 373px;
    margin-right: 170px;
  }
  .infor-footer {
    @include font-text(map-get($font-size, m), 21px);
    padding: 24px 0px 57px;
    color: map-get($color, wt);
  }
  .app-contact {
    display: flex;
    i {
      color: map-get($color, wt);
      margin-right: 33px;
    }
  }
  .list-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    p {
      @include font-text(map-get($font-size, m), 150%);
      color: map-get($color, wt);
    }
  }
  .bottom-footer {
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    p {
      @include font-text(map-get($font-size, s), 18px);
      color: map-get($color, wt);
    }
  }
}
@include mobile {
  .page-footer {
    .top-footer {
      padding-top: 24px;
      padding-bottom: 48px;
      .flex-spc-bw {
        flex-direction: column;
      }
    }
    .info-shop {
      width: 100%;
      margin-right: 0;
    }
    .infor-footer {
      @include font-text(map-get($font-size, m), 21px);
      color: map-get($color, wt);
    }
    .app-contact {
      display: none;
    }
    .list-info {
      margin: -12px 0px;
      flex-direction: column;
      p {
        font-size: map-get($font-size, s);
        line-height: 18px;
      }
    }
    .item-info {
      padding: 12px 0px;
    }
    .bottom-footer {
      p {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}