.page-header {
  width: 100%;
  position: fixed;
  top: 48px;
  z-index: 2;
  .nav-list {
    display: flex;
    justify-content: space-between;
  }
  .options-list {
    display: flex;
    justify-content: space-between;
  }
}
