.banner {
  position: relative;
  line-height: 0;
  .img-banner {
    position: relative;
    width: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%);
  }
  .banner-sale {
    width: 403px;
    position: absolute;
    top: 222px;
    left: 17%;
    z-index: 99;
    h2 {
      padding-bottom: 24px;
      @include font-text(71px,  101.5%, map-get($color, wt), $font-weight-bold);   
      span {
        color: map-get($color, org);
      }
    }
    .banner-action {
      padding: 0px;
    }
  }
  .banner-event {
    width: 77%;
    height: 124px;
    padding: 37px 17% 24px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: white;
    border-radius: 0px 100px 0px 0px;
    z-index: 99;
    .list-banner-event {
      max-width: 100%;
      height: 100%;
    }
  }
}