.show-category {
  .list-category {
    padding: 48px 0px 96px;
  }
  .item-category {
    height: 359px;
    position: relative;
  }
  .category {
    line-height: 0;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background: map-get($color, blk);
      opacity: 0.5;
    }
  }
  .name-category {
    position: absolute;
    top: 167px;
    left: 40px;
    right: 40px;
    height: 73px;
    @include font-text(map-get($font-size, xxxl), 36px,  map-get($color, wt));
    z-index: 99;
  }
  .sale-off {
    position: absolute;
    top: 129px  ;
    left: 40px;
    z-index: 99;
  }
  .btn-category {
    position: absolute;
    left: 40px;
    top: 258px;
    z-index: 99;
  }
}