.event {
  padding-right: 48px;
  display: flex;
  justify-content: space-between;
  .info-event {
    padding-left: 21px;
  }
  .name-event {
    width: 184px;
    padding-bottom: 4px;
    @include font-text(map-get($font-size, m), 21px, map-get($color, blk), $font-weight-bold);
  }
  .endow {
    @include font-text(map-get($font-size, s), 18px, map-get($color, d-gr));
  }
}