.event {
  padding-right: 48px;
  display: flex;
  .info-event {
    padding-left: 21px;
  }
  .name-event {
    width: 184px;
    padding-bottom: 4px;
    line-height: 21px;
    font-weight: $font-weight-bold;
    font-size: map-get($font-size, m);
    color: map-get($color, blk);
  }
  .endow {
    font-size: map-get($font-size, s);
    line-height: 18px;
    color: map-get($color, d-gr);
  }
}