.product {
  position: relative;
  .sale-off {
    position: absolute;
    top: 24px;
    left: 18px;
  }
  .name-product {
    margin-top: 16px;
    @include font-text(map-get($font-size, l), 24px, map-get($color, blk), $font-weight-300);
  }
  .cart-product-discount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .price-product {
      color: map-get($color, l-gr);
    }
  }
  .price-product {
    position: relative;
    @include font-text(map-get($font-size, xxl), 30px, map-get($color, blk));
    }
  }
  .price-discount {
    @include font-text(map-get($font-size, xxl), 30px, map-get($color, rd));
}