$color: (
  rd: #FF0000,
  org: #FBB03B,
  wt: #FFFFFF,
  blk: #333333,
  gr: #808080,
  d-gr: #A8A8A8,
  l-gr: #CECECE,
  l-gray: #ABABAB,
);
$font-weight-bold: bold;
$font-weight-300: 300;
$font-size: (
  s: 12px,
  xs: 13px,
  m: 14px,
  l: 16px,
  xl: 18px,
  xxl: 20px,
  xxxl: 24px,
  xxxxl: 32px, 
);