h1 {
	@include font-text(map-get($font-size, 6xl),  101.5%, $font-weight-bold);
  color: map-get($color, white);    
}
.section-title {
  @include font-text(map-get($font-size, 4xl), 48px, $font-weight-300);
  color: map-get($color, black);
}
h5 {
  @include font-text(map-get($font-size, l), 24px, $font-weight-bold);
  margin-bottom: 19px;
  color: map-get($color, white);
}
@include mobile {
  h1 {
    font-size: map-get($font-size, 5xl);
  }
  .section-title {
    font-size: map-get($font-size, xl);
    line-height: 27px;
  }
  h5 {
    @include font-text(map-get($font-size, l), 24px, $font-weight-bold);
    margin-bottom: 16px;
    color: map-get($color, white);
  }
}
