.btn {
  border: none;
  outline: none;
  color: map-get($color, blk);
  cursor: pointer;
  &.btn-primary {
    background-color: map-get($color, wt);
    @include font-text(map-get($font-size, xs), 19px, map-get($color, blk), $font-weight-bold);
    padding: 14px 20px;
    border-radius: 33px;
  }
  &.btn-people {
    margin: auto 45px;
    @include font-text(map-get($font-size, xl), 27px, map-get($color, org), $font-weight-bold);
  }
  &.btn-users {
    margin-left: 24px;
    background-color: rgba(0,0,0,0);
  }
  &.btn-shopnow {
    width: 195px;
    display: flex;
    align-items: center;
    .txt-shopnow {
      padding-left: 21px;
      @include font-text(map-get($font-size, xxxl), 36px, map-get($color, wt), $font-weight-bold);
    }
  }
  &.btn-subscribe {
    padding: 14px 30px;
    @include font-text(map-get($font-size, xs), 19px, map-get($color, blk), $font-weight-bold);
    background-color: map-get($color, org);
    border-radius: 56px;
  }
}
@include mobile {
  .btn {
    &.btn-primary {
      padding: 3px 10px;
      font-size: map-get($font-size, s);
    }
    &.btn-subscribe {
      display: inline-block;
      padding: 7px 20px;
      font-size: map-get($font-size, xs);
    }
  }
}