.sale-off {
  padding: 6px 10px;
  background-color: map-get($color, rd);
  border-radius: 20px;
  font-size: map-get($font-size, s);
  font-weight: $font-weight-bold;
  line-height: 18px;
  color: map-get($color, wt);
}