*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.btn {
  border: none;
  border-radius: 4px;
  font-style: normal;
  text-align: center;
}
.container {
  width: 1160px;
  margin: 0px auto; 
  align-items: center;
}
.page-header {
  border-bottom: 1px solid gray;
}
.container-header {
  display: flex;
  height: 80px;
  justify-content: space-between;
}
.header-left {
  margin-left: 0px;
  height: 80px;
}
.header-center {
  display: flex;
  align-items: center;
}
.header-right {
  display: flex;
}
.header-menu {
  margin-right: 20px;
}
.header-search {
  position: relative;
}
.header-cart {
  position: relative;
  align-items: center;
  margin-right: 20px;
  padding-top: 10px; 
}
.header-signin-signup {
  display: flex;
}
.fa-search {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #787885;
  width: 17.5px;
  height: 17.5px;
}
.text-search {
  height: 48px;
  width: 430px;
  border-radius: 99px;
  padding-left: 44px;
  background-color: #EDEDF0;
  border: none;
}
.btn-menu {
  font-size: 32px;
  background-color: white;
  color: blue;
  border: none;
}
.btn-primary {
  width: 104px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #2264D1;
  padding-top: 8px;
  font-family: Quicksand;
}
.btn-secondary {
  width: 104px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  background-color: #2264D1;
  color: white;
  padding-top: 8px;
  font-family: Quicksand;
}
.btn-cart {
  width: 24px;
  height: 24px;
}
.amount {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 8px;
  left: 18px;
  font-size: 10px;
  background-color: #EF0909;
  border-radius: 5px;
  color: white;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}
