*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  line-height: 1;
}
a {
  text-decoration: none;
}
ul, ol {
  list-style: none;
}
main .section-handle-products select {
  height: 36px;
  padding-left: 12px;
  font-family: Inter, sans-serif;
  position: relative;
  border-radius: 4px;
  border: 1px solid #B4B4BB;
  -webkit-appearance: none;
  color: #787885;
}
main .section-handle-products select:hover {
  border: 1px solid #5A5B6A;
  color: #19191D;
}
.btn {
  border: none;
  border-radius: 4px;
  font-style: normal;
  text-align: center;
  cursor: pointer;
}
.container {
  width: 1160px;
  margin: 0px auto; 
  align-items: center;
}
.page-header {
  border-bottom: 1px solid gray;
}
.page-header .container-header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.container-header .header-left {
  height: 80px;
  margin-left: 0px;
}
.container-header .header-center {
  display: flex;
  align-items: center;
}
.container-header .header-right {
  display: flex;
}
.header-center .header-menu {
  margin-right: 32px;
}
.header-center .header-search {
  position: relative;
}
.header-right .header-cart {
  margin-right: 20px;
  padding-top: 10px;
  position: relative;
  align-items: center; 
}
.header-search .fa-search {
  width: 17.5px;
  height: 17.5px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #787885;
}
.header-search .text-search {
  height: 48px;
  width: 430px;
  padding-left: 44px;
  border-radius: 99px;
  background-color: #EDEDF0;
  border: none;
}
.header-menu .btn-menu {
  font-size: 32px;
  background-color: white;
  color: blue;
  border: none;
}
.btn-primary {
  width: 104px;
  height: 40px;
  padding-top: 8px;
  font-size: 20px;
  font-weight: bold;
  font-family: Quicksand, sans-serif;
  color: #2264D1;
}
.btn-secondary {
  width: 104px;
  height: 40px;
  padding-top: 8px;
  font-size: 20px;
  font-family: Quicksand, sans-serif;
  font-weight: bold;
  background-color: #2264D1;
  color: white;
}
.header-cart .btn-cart {
  width: 24px;
  height: 24px;
}
.header-cart .amount {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 8px;
  left: 18px;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  background-color: #EF0909;
  color: white;
}
/* update */
.btn:focus { 
  outline: none;
}
.text-search:focus {
  outline: none;
}
/* footer */
footer p {
  font-family: Inter, sans-serif;
  font-style: normal;
  color: white;
}
.page-footer {
  height: 275px;
  padding: 64px 0px;
  margin-top: 128px;
  background-color: #2264D1;
  text-align: center;
}
.page-footer .footer-top {
  height: 24px;
  font-size: 16px;
  font-weight: normal;
}
.page-footer .footer-center {
  height: 72px;
  margin-top: 15px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 48px;
}
.page-footer .footer-bottom {
  height: 20px;
  margin-bottom: 64px;
  font-size: 14px;
  font-weight: normal;
}
/* main */
.section-banner {
  width: 100%;
}
.section-banner .banner {
  width: 100%;
}
.section-banner .section-handle-products {
  margin: 0px 5px 197px;
}
.section-handle-products .toolbar {
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toolbar .toolbar-left {
  display: flex;
}
.toolbar .toolbar-right {
  display: flex;
  justify-content: space-between;
}
.toolbar-left .select-option {
  position: relative;
}
.select-option:nth-child(1) .text-sort-by {
  position: absolute;
  top: -6px;
  left: 12px;
  font-size: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-color: white;
  color: #787885;
}
.fa-caret-down {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  color: #787885;
}
.select-useless {
  width: 142px;
}
.select-condition {
  width: 118px;
  margin-left: 10px;
}
.select-delivery {
  width: 158px;
  margin-left: 10px;
}
.select-option .option-product {
  font-size: 14px;
}
.toolbar-right .toolbar-action {
  display: flex;
  margin-right: 20px
}
.toolbar-right .toolbar-display-way {
  display: flex;
}
.btn-elementari {
  width: 85px;
  height: 36px; 
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: normal;
  background-color: #EBF2FF;
  color: #5A5B6A;
}
.btn-elementari:hover {
  color: #2264D1;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24);
}
.toolbar-display-way .fa-list {
  width: 17px;
  height: 14px;
  font-size: 100%;
}
.toolbar-display-way .fa-th-large {
  font-size: 18px;
}
.section-handle-products .show-products {
  margin: auto 5px;
}
.show-products .products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products-list .product-item {
  width: 264px;
  height: 472px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
}
.product-item .product-item.image-item {
  width: 233px;
  height: 224px;
}
.product-item .description-item {
  width: 233px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}
.product-item a {
  width: 100%;
}
.description-item .product-content {
  height: 74px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: black;
}
.description-item .price-saleoff {
  height: 36px;
  margin-top: 8px;
  position: relative;
  align-items: center;
}
.price-saleoff .product-price {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  color: black;
}
.price-saleoff .product-saleoff {
  width: 70px;
  height: 24px;
  padding: 4px 0px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #37833B;
  background-color: #ECF7ED;
  border-radius: 4px;
}
.price-saleoff .product-hot {
  width: 70px;
  height: 24px;
  padding: 4px 0px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #C23564;
  background-color: #FDEDF2;
  border-radius: 4px;
}
.description-item .product-more-detail {
  height: 41px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #787885;
}
.description-item .btn-addcart {
  width: 105px;
  height: 32px; 
  margin-top: 8px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #9DC2FF;
  color: #2264D1;
  background-color: white;
}
.products-list .product-item:hover {
  box-shadow: 0px 4px 8px rgba(90, 91, 106, 0.2);
  transition: all 1s;
}
.products-list .product-item:hover .btn-addcart {
  color: white;
  background-color: #2264D1;
}
