html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
}
html {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: normal;
}
$color: (
  red: #FF0000,
  white: white,
  gray: #808080,
  light-gray: #d3d3d3,
);
$text-size: (
  s: 10px,
  m: 12px,
  l: 14px,
  xl: 20px,
);
.list-group {
  width: 1000px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  background-color: map-get($color, light-gray);
}
.list-item {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  background-color: map-get($color, white);
}
.post {
  display: flex;
  .img-post {
    width: 400px;
  }
  .detail-post {
    padding: 10px;
  }
  .category-post {
    padding-bottom: 20px;
    color: map-get($color, red);
    font-weight: bold;
    font-size: map-get($text-size, s);
  }
  .title-post {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: map-get($text-size, xl);
  }
  .desc-post {
    padding-bottom: 20px;
    font-size: map-get($text-size, l);
    color: map-get($color, gray);
  }
  .content-post {
    padding-bottom: 20px;
    font-size: map-get($text-size, xl);
  }
  .status-post {
    display: flex;
  }
  .author-post {
    font-weight: bold;
    padding-right: 15px;
    font-size: map-get($text-size, m);
    &::before {
      content: "by ";
      text-transform: uppercase;
      color: map-get($color, gray);
    }
  }
  .created-post {
    padding-right: 15px;
    font-size: map-get($text-size, m);
    color: map-get($color, gray);
    &::after {
      content: " est";
      text-transform: uppercase;
    }
  }
  .read-post {
    font-size: map-get($text-size, m);
    color: map-get($color, gray);
    &::after {
      content: " mins read";
      text-transform: uppercase;
    }
  }
}
.form-detail {
  margin: 20px 100px;
}
.post-show-detail {
  margin: 20px auto;
}
.title-detail {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}
