$color: (
  red: #FF0000,
  orange: #FBB03B,
  white: #FFFFFF,
  black: #333333,
  gray: #808080,
  gray-1: #A8A8A8,
  gray-2: #CECECE,
  gray-3: #ABABAB,
  gray-4: #F7F7F7,
);
$font-weight-bold: bold;
$font-weight-300: 300;
$font-size: (
  3xs: 8px,
  2xs: 10px,
  xs: 12px,
  s: 13px,
  m: 14px,
  l: 16px,
  xl: 18px,
  2xl: 20px,
  3xl: 24px,
  4xl: 32px, 
  5xl: 48px,
  6xl: 72px,
);
$colMax: 12;
$screen-width: (
  sm: 576px,
  md: 768px,
  lg: 1024px,
);
