.banner {
  position: relative;
  line-height: 0;
  .img-banner {
    position: relative;
    width: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%);
  }
  .banner-sale {
    width: 403px;
    position: absolute;
    top: 222px;
    left: 17%;
    z-index: 50;
    h1 {
      
      padding-bottom: 24px;
      span {
        color: map-get($color, orange);
      }
    }
    .banner-action {
      padding: 0px;
    }
    .text-uppercase {
      @include font-text(map-get($font-size, 3xl), 36px, $font-weight-bold);
      padding-left: 21px;
      color: map-get($color, white);
    }
  }
  .section-campaign {
    width: 77%;
    height: 124px;
    padding: 37px 17% 24px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: white;
    border-radius: 0px 100px 0px 0px;
    z-index: 50;
    .list-campaign {
      max-width: 100%;
      height: 100%;
    }
  }
}
.campaign {
  padding-right: 48px;
  display: flex;
  justify-content: space-between;
  .campaign-info {
    padding-left: 21px;
  }
  .campaign-name {
    @include font-text(map-get($font-size, m), 21px, $font-weight-bold);
    width: 184px;
    padding-bottom: 4px;
    color: map-get($color, black);
  }
  .campaign-detail {
    @include font-text(map-get($font-size, xs), 18px);
    color:  map-get($color, gray);
  }
}
.section-collection {
  .list-collection {
    padding: 42px 0px 90px;
  }
  .list-item {
    position: relative;
  }
  .collection {
    line-height: 0;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background: map-get($color, black);
      opacity: 0.5;
    }
  }
  .collection-name {
    @include font-text(map-get($font-size, 3xl), 36px);
    color: map-get($color, white);
    position: absolute;
    bottom: 119px;
    left: 40px;
    right: 40px;
    height: 73px;
    z-index: 50;
  }
  .badge {
    position: absolute;
    bottom: 200px;
    left: 40px;
    z-index: 50;
  }
  .btn-primary {
    position: absolute;
    left: 40px;
    bottom: 53px;
    z-index: 50;
  }
}
.section-offer {
  padding-bottom: 54px;
  align-items: baseline;
  .container {
    position: relative;
  }
  .offer-title {
    padding-bottom: 33px;
  }
  .btn-outline-default {
    position: absolute;
    top: 0px;
    right: 0;
  }
}
.section-today {
  padding-top: 48px;
  padding-bottom: 54px;
  .section-title {
    padding-bottom: 33px;
    text-align: center;
  }
}
.product {
  position: relative;
  .product-img {
    width: 100%;
  }
  .badge {
    position: absolute;
    top: 24px;
    left: 18px;
  }
  .product-name {
    @include font-text(map-get($font-size, l), 24px, $font-weight-300);
    padding-top: 16px;
    color: map-get($color, black);
  }
  .cart-product-discount {
    display: flex;
    justify-content: space-between;
    .product-price {
      color: map-get($color, gray-1);
    }
  }
  .product-price {
    @include font-text(map-get($font-size, 2xl), 30px);
    color: map-get($color, black);
  }
  .discount-price {
    @include font-text(map-get($font-size, 2xl), 30px);
    color: map-get($color, red);
  }
}
.section-benefits {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: map-get($color, gray-4);
  .section-title {
    text-align: center;
    padding-bottom: 44px;
  }
}
.benefit {
  .benefit-img {
    width: 68px;
    height: 68px;
    background-color: map-get($color, white);
    border-radius: 10px;
    margin-bottom: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .benefit-title {
    @include font-text(map-get($font-size, l), 24px, $font-weight-bold);
    padding-bottom: 16px;
    color: map-get($color, black);
  }
  .benefit-detail {
    @include font-text(map-get($font-size, m), 21px);
    color: map-get($color, gray);
  }
}
.section-subscribe {
  width: 100%;
  position: relative;
  line-height: 0;
  .img-subscribe {
    width: 100%;
  }
  .subscribe {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
  }
  .title-subscribe {
    @include font-text(map-get($font-size, 3xl), 36px);
    color: map-get($color, white);
  }
  .form-subscribe {
    display: flex;
    justify-content: space-between;
    .input-subscribe {
      @include font-text(map-get($font-size, s), 19px);
      width: 351px;
      height: 48px;
      margin-right: 40px;
      padding: 14px 24px;
      color: map-get($color, gray-3);
      border: none;
      border-radius: 61px;
      outline: none;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, #000000 33.28%, rgba(0, 0, 0, 0) 94.05%);
    opacity: 0.7; 
  }
}
@include mobile {
  @include columns-responsive($colMax, sm, map-get($screen-width, sm), 5px, 6px);
  .row {
    margin: 0px -5px;
  }
  .row + .row {
    margin-top: 12px;
  }
  .banner {
    .img-banner {
      content: url(../images/banner-respon.png);
    }
    .banner-sale {
      width: 271px;
      left: 24px;
      img {
        width: 32px;
        height: 32px;
      }
      .text-uppercase {
        padding-left: 16px;
        font-size: map-get($font-size, m);
        line-height: 21px;
      }
    }
    .section-campaign {
      display: none;
    }
  }
  .section-subscribe {
    .subscribe {
      flex-direction: column;
      align-items: baseline;
    }
    .title-subscribe {
      width: 200px;
      padding-bottom: 24px;
      font-size: map-get($font-size, m);
      line-height: 21px;
    }
    .form-subscribe {
      width: 100%;
      display: block;
      .input-subscribe {
        width: 100%;
        height: 32px;
        margin-bottom: 16px;
        font-size: map-get($font-size, xs);
        line-height: 18px;
      }
    }
    .img-subscribe {
      content: url(../images/subscribe-respon.png);
    }
  }
  .product {
    .product-img {
      height: 227px;
    }
    .badge {
      top: 14px;
      left: 9px;
    }
    .product-name {
      padding: 3px 0px;
      font-size: map-get($font-size, xs);
      line-height: 18px;
    }
    .product-price {
      font-size: map-get($font-size, 2xs);
      line-height: 15px;
    }
    .discount-price {
      font-size: map-get($font-size, 2xs);
      line-height: 15px;
    }
  }
  .section-offer {
    padding-bottom: 46px;
    .offer-title {
      padding-bottom: 10px;
    }
    .btn-outline-default {
      border: none;
    }
  }
  .section-today {
    padding-top: 42px;
    padding-bottom: 46px;
    .section-title {
      padding-bottom: 10px;
      text-align: center;
    }
  }
  .section-collection {
    .list-collection {
      padding: 42px 0px 90px;
    }
    .collection-name {
      height: 40px;
      font-size: map-get($font-size, m);
      line-height: 21px;
      bottom: 44px;
      left: 16px;
    }
    .badge {
      bottom: 90px;
      left: 16px;
    }
    .btn-primary {
      bottom: 16px;
      left: 16px;
    }
  }
  .section-benefits {
    padding-top: 38px;
    padding-bottom: 22px;
    .section-title {
      padding-bottom: 30px;
    }
  }
  .benefit {
    display: flex;
    .benefit-info {
      flex: 1;
      padding-left: 16px;
    }
    .benefit-title {
      padding-bottom: 8px;
      font-size: map-get($font-size, xs);
      line-height: 18px;
    }
    .benefit-detail {
      font-size: map-get($font-size, 2xs);
      line-height: 15px;
    }
  }
}
